body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121213;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  color: #f8f8f8;
  border: 2px solid #3a3a3c;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid #565758;
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.6rem;
  margin: 0 4px;
  height: 58px;;
  background-color: #818384;
  color:#f8f8f8;
  cursor: pointer;
  text-transform: uppercase;
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;;
}
